<!-- Create your form here -->
Student Form
<form action="/students" method="post">
    <input name="first_name" placeholder="First Name">
    <input name="last_name" placeholder="Last Name">
    <input type="submit" value="Submit Student">
</form>